.card_shadow:hover {
    box-shadow: 0px 5px 1px 0px #eaeaea;
}

.profit_shadow {
    box-shadow: 0px 0px 20px 5px #0c33f486;
}

.login_backgroundColor {
    background-image: linear-gradient(to right, #00597A, #00597acf, #00000049, #00597acf, #00597A);
}

.scrollBarHidden::-webkit-scrollbar {
    display: none;
};
